@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Mulish', sans-serif;
    transition: .3s linear;
    
}

.navbar-brand{
    font-size: 2.3rem;
    color: #565387;
    font-family: 'Akaya Kanadaka', cursive;

}
.brand-name{
    color: #3498db;
}
.menu-active{
    font-weight: bold;
    
}

.navbar a:hover{
    color: #3498db;
    
}
.img-fluid{

    margin-top: 80px;
    width: 300px;
    /* opacity: 80%; */
    margin-right: 60px;
}
.card-title{
    font-weight: 600;
}
.header-img{
    text-align: right;
    
}
#header .animated{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(5px);
    }
    100% {
         transform: translateY(-5px);
    }
}
@keyframes up-down{
    0% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(-5px);
    }
}

.nav-link:active{
    border-bottom: 1px solid #565387;

}
.btn-get-started{
    background-color:#fff ;
    border-radius: 2rem;
    border: 2px solid #0e66a1;
    color: #444;
    text-decoration: none;
    padding: 7px 25px;
    margin: 9px 1px;
}
.btn-get-started:hover{
    background-color: #0e66a1;
    border: 2px solid #0e66a1;
    color: #fff;
}
.btn{
    background-color: #3498db;
    
}


@media (max-width:991px){
   
    .navbar-brand{
        font-size: 1.3rem;
    }
    .img-fluid{
        max-width: 70%;
    }
    #header .header.img{
        text-align: center;
    }
    #heaader .header.img img{
        width: 60%;
    }
}
@media (max-width: 768px){
   #header{
    margin-top: 20px;
   }
   #header h1{
    font-size: 28px;
   }
}
 footer p{
    margin-top: 170px;
    font-size: .8rem;
}